@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light dark;
    font-family: "Inter", sans-serif;
  }

  html,
  body {
    @apply bg-black text-white;
    font-size: 15px;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply text-gray-200;
  }

  a{
    @apply text-gray-200 hover:text-gray-400;
  }

}

.sub-text {
  @apply text-sm text-gray-400;
}
